<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>280824827829-s3tn6m41p6pr1pl1aqpsn0k5qu64p265.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.280824827829-s3tn6m41p6pr1pl1aqpsn0k5qu64p265</string>
	<key>API_KEY</key>
	<string>AIzaSyDMZm9CEx-mpFP0Jocj_bMGDoP9PoWAbDU</string>
	<key>GCM_SENDER_ID</key>
	<string>280824827829</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.main</string>
	<key>PROJECT_ID</key>
	<string>countmein-gp1</string>
	<key>STORAGE_BUCKET</key>
	<string>countmein-gp1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:280824827829:ios:24f942b71f6f1888b653fc</string>
</dict>
</plist>